<div class="row">
    <% if task.completed? %>
        <div class="todo_item">
            <p style="opacity: 0.4; margin-left: 2em;" title="Completed"><strike><%= task.name %></strike></p>
        </div>
        <div class="trash">
            <%= link_to project_task_path(@project, task.id), method: :delete, data: { confirm: "Are you shure?"} do %>
                <i class="fa fa-trash-o"> </i>
                <% end %>
        </div>
    <% else %>
            <div class="todo_item">
                <p style="margin-left: 2em;" title="Click to Complete"><%= link_to task.name,  complete_project_task_path(@project, task.id), method: :patch %></p>
            </div>
            <div class="trash">
                <%= link_to project_task_path(@project, task.id), method: :delete, data: { confirm: "Are you shure?"} do %>
                <i class="fa fa-trash-o"> </i>
                <% end %>
            </div>
    <% end%>
</div>
<%# link_to "Edit", some_path %>