<div class="row">
    <% if task.completed? %>
        <div class="todo_item">
            <p style="opacity: 0.4" title="Completed"><strike><%= task.name %></strike></p>
        </div>
        <div class="trash">
            <%= link_to "Delete", project_task_path(@project, task.id), method: :delete, data: { confirm: "Are you shure?"}, class: "btn btn-secondary my-2" %>
        </div>
    <% else %>
            <div class="todo_item">
                <p title="Click to Complete"><%= link_to task.name,  complete_project_task_path(@project, task.id), method: :patch %></p>
            </div>
            <div class="trash">
                <%= link_to "Delete", project_task_path(@project, task.id), method: :delete, data: { confirm: "Are you shure?"},class: "btn btn-secondary my-2" %>
            </div>
    <% end%>
</div>
<%# link_to "Edit", some_path %>