<%= form_for(@project) do |f| %>
<div class="card" style="height: 5em !important;">
        <%= f.text_field :name, placeholder: "Project Name",style: "font-size: 1.7em;text-align:center; font-weight: bold;" %>
</div>
<div class="d-flex justify-content-center">
        <%= f.submit "Submit", id: "Submit-project",class: "sbm" %>
        <%# <i class="fas fa-chevron-down"></i> %>
        <%# end %>
</div>
<% end %>