<article class="project">
    <section class="card mb-4 shadow-sm">
      <h2><%= link_to project.name, project_path(project) %></h2>
      <small class="small">
      <%= render project.tasks %>
      </small>
      <hr>
      <small class="small">
        <%= link_to edit_project_path(project) do %>
          <i class="fa fa-edit"></i>
        <% end %>
        |
        <%= link_to project_path(project), method: :delete, data: { confirm: 'Are you shure?'} do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </small>
    </section>
</article>