<h1 class="h1"> To-Do: <h1>
<%= render @project %>
<%# <hr> %>
</div>
<div class="container-button">
    <%= link_to "New Project", new_project_path,class: "btn btn-lg btn-block btn-primary buttons" %>
<%# link_to "New Project", new_project_path,class: "btn btn-lg btn-block btn-outline-primary" %>
</div>
<%# <h1>Hello</h1> %>
